<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.NoticeMapper">

	<select id="getAllNoticeList" resultType="org.zerock.domain.NoticeDTO">
		select * from tbl_notice_board order by notice_seq desc
	</select>
	
	<select id="getNoticeBySeq" resultType="org.zerock.domain.NoticeDTO" parameterType="Integer">
		select * from tbl_notice_board where notice_seq = #{seq}
	</select>

	<insert id="registerNotice" parameterType="org.zerock.domain.NoticeDTO">
		insert into tbl_notice_board( notice_seq, subject, content, writer )
			values( notice_seq.nextval, #{subject}, #{content}, #{writer} )			
	</insert>
	
	<update id="updateNotice" parameterType="java.util.HashMap">
		update tbl_notice_board
			set
				subject = #{subject},
				content = #{content}
			where
				notice_seq = #{seq}
	</update>
	
	<delete id="deleteNotice" parameterType="Integer">
		delete tbl_notice_board
			where
				notice_seq = #{seq}
	</delete>

</mapper>